/* 
  To Do Next:
    Center Titles. Make all content boxes.
    
  For Future:
    Make headings drop-down menus, with animations that will reveal the content boxes. Also for educational institutions and out-of-school studies.
*/


.navbar ul{
  list-style-type: none;
  background-color: #233844;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: #cfcfcf;
}

.navbar li{
  float: left;
}

.main_content {
  margin-left: 10px;
  margin-right: 10px;
}

body {
    background-color: black;
    margin: 0px;
}
span {
  background-color: red;
}
.main_content {
  color: white;

  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
}

#second_project_link {
  color: #ceaef4;

}

#about_me {
  border: 5px solid;
  background: gray;
  width: 450px;
  height: 250px;
  padding: 20px;
  margin-left: 500px;
}

.interests {
  border: 3px solid;
  background: darkred;
  width: 450px;
  height: 250px;
  padding: 20px;
  margin: 50px;
  margin-left: 899px;;

}

.title_division {
  display: flex;
  margin: 0 auto;
}
