.navbar ul{
  list-style-type: none;
  background-color: #233844;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: #cfcfcf;
}

.navbar li{
  float: left;
}

.main_content {
  margin-left: 10px;
  margin-right: 10px;
}

body {
  background-image: url(../images/planet.jpg)
}

.main_content {
  color: white;
}

#second_project_link {
  color: #ceaef4;

}
